@import "tailwindcss";

:root {
  --main-color: rgb(206, 17, 194)
}

html {
  background: linear-gradient(black, black, var(--main-color));
  background-size: 100vw 100vh;
}

#root {
  margin: 0 auto;
}

.card {
  padding: 2em;
}


/** .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}


.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.full-width {
  width: 300px;
}

.centered {
  margin: 0 auto; /*** Centers the first card
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 12px; /* Rounded corners for nice card look
  overflow: hidden; /* Ensures images respect the rounded corners 
  padding: 10px;
  background-color: #ffffff00;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: slight shadow for depth 
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 14px; Slight rounding for the image itself 
}
*/