@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

h2,
p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  /* Use flexbox */
  justify-content: space-between;
  /* Distribute items evenly */
  margin-bottom: 5%;
}

ul li {
  float: left;
}

ul li a {
  transition: 1s;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  transition: 1s;
  background-color: var(--main-color);
}

#login {
  margin-left: auto;
}

a {
  color: white;
}